# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
# [Bb]in/

# Other files and folders
.settings/

# Executables
# *.swf
*.air
*.ipa
*.apk
恢复_*.fla
~$*.xlsx
~$*.docx
~*.tmp

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
tools/Local Server/logs
/.vs
/新建文件
恢复*/
flashswf/arts/new/阿特拉斯素材.swd
flashswf/arts/new/天网大家庭.swd
flashswf/arts/new/天网大家庭_死亡.swf
flashswf/arts/new/天网豪华单间.swd
