trace("FocusedTestRunId bookshelf Start: __FOCUSED_RUN_ID__");
org.flashNight.arki.scene.BookRunRulesTest.runAllTests();
org.flashNight.arki.ui.BookshelfPanelServiceTest.runAllTests();
org.flashNight.arki.scene.BookIterationTest.runAllTests();
trace("FocusedTestRunId bookshelf Complete: __FOCUSED_RUN_ID__");
