import flash.filters.*;
import flash.geom.*;
import org.flashNight.arki.bullet.BulletComponent.Collider.*;
import org.flashNight.arki.camera.*;
import org.flashNight.arki.component.Buff.*;
import org.flashNight.arki.component.Buff.Component.*;
import org.flashNight.arki.component.Collider.*;
import org.flashNight.arki.component.Effect.*;
import org.flashNight.arki.item.*;
import org.flashNight.arki.render.*;
import org.flashNight.arki.spatial.move.*;
import org.flashNight.arki.unit.*;
import org.flashNight.arki.unit.Action.Regeneration.*;
import org.flashNight.arki.unit.UnitComponent.Dressup.*;
import org.flashNight.arki.unit.UnitComponent.Dressup.EquipmentUtil.*;
import org.flashNight.arki.unit.UnitComponent.Targetcache.*;
import org.flashNight.arki.weather.*;
import org.flashNight.gesh.object.*;
import org.flashNight.naki.DataStructures.*;
import org.flashNight.neur.Event.*;
import org.flashNight.neur.StateMachine.*;
import org.flashNight.sara.util.*;
if (!_root.主角函数) _root.主角函数 = {};
#include "逻辑/单位函数/单位函数_fs_装备生命周期配置.as"
#include "逻辑/装备函数/装备光源.as"
#include "逻辑/装备函数/主唱光剑.as"
#include "逻辑/装备函数/光剑天秤.as"
#include "逻辑/装备函数/血色光剑天秤.as"
#include "逻辑/装备函数/光刀狮子.as"
#include "逻辑/装备函数/光刃摩羯.as"
#include "逻辑/装备函数/电感切割刃.as"
_root.equipmentEmissiveAssetComplete = function():Void {
    trace("FocusedTestRunId equipment-emissive-assets Complete: __FOCUSED_RUN_ID__");
};
trace("FocusedTestRunId equipment-emissive-assets Start: __FOCUSED_RUN_ID__");
org.flashNight.arki.render.EquipmentEmissiveAssetTest.runAllTests();
