import org.flashNight.arki.scene.*;

trace("SceneCollisionManagerTestRunId Start: __SCENE_COLLISION_RUN_ID__");
SceneCollisionManagerTest.runAllTests();
trace("SceneCollisionManagerTestRunId Complete: __SCENE_COLLISION_RUN_ID__");
