trace("MapLootTestRunId Start: __MAP_LOOT_RUN_ID__");
org.flashNight.arki.unit.UnitComponent.Initializer.test.BoxInteractionArbiterTest.runAllTests();
org.flashNight.arki.item.LootContainerServiceTest.runAllTests();
org.flashNight.arki.item.LootMaterializationPlannerTest.runAllTests();
org.flashNight.arki.scene.StageRunSessionTest.runAllTests();
trace("MapLootTestRunId Complete: __MAP_LOOT_RUN_ID__");
